@property --progress {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}

[role='progressbar'] {
  --size: 132px;
  --bar-width: 20px;

  font-size: 2rem;
  width: var(--size);
  aspect-ratio: 1/1;

  background: conic-gradient(
    var(--color-dark) var(--progress, 0),
    var(--color-dark-glare) 0%
  );
  margin: 2rem auto;
  border-radius: 50%;

  display: grid;
  place-items: center;

  transition: --progress 500ms linear;

  &::after {
    content: attr(aria-valuenow) '%';
    background: white;
    border-radius: inherit;
    width: calc(100% - var(--bar-width));
    aspect-ratio: 1/1;

    display: grid;
    place-items: center;
  }

  span {
    display: none;
  }
}

[role='progressbar'][aria-valuenow='100']::after {
  animation: progressComplete 0s forwards;
  animation-delay: 1000ms;
}

@keyframes progressComplete {
  to {
    content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODUiIGhlaWdodD0iODUiIHZpZXdCb3g9IjUgMzAgNzUgMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zNS40MjM3IDUzLjczMjdMNjcuOTc4NyAyMS4xNzc3TDcyLjk4OTUgMjYuMTg0MkwzNS40MTk1IDYzLjc1TDEyLjg4NiA0MS4yMTIyTDE3Ljg5MjUgMzYuMjAxNUwzNS40MjM3IDUzLjczMjdaIiBmaWxsPSIjMWYxYTM4Ii8+Cjwvc3ZnPgo=');
    background: var(--color-success);
  }
}

/* If JS is disabled */
.progressbar:not([role='progressbar']) {
  color: red;
}
